@use '/src/style/variables' as *;

.achievements{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 66px 0;
    &__section{
        text-align: left;
    }
    &__header{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    
    &__headline{
        text-align: left;
        display: inline-block;
        font-size: $headline2;
        line-height: 3.2rem;
        &--green{
            color: $colorPrimary;
            display: block;
        }
    }
    &__text{
        font-size: $regular3;
    }
    &__activity{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

.achievementsCard{
    display: flex;
    align-items: center;
    gap: 1rem;
    &__logocontainer{
        max-width: 48px;
        max-height: 48px;
    }
    &__int{
        font-size: $headline3;
        line-height: 1.8rem;
    }
    &__text{
        font-size: $regular3;
    }
}