@use '/src/style/variables' as *;

.hero{

    max-width: 100%;
    padding: 96px 0;
    &__slide{
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        text-align: left;
    }
    &__imgcontainer{
        max-width: 391px;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__textbox{
        padding: 2rem;
    }
    &__headline{
        font-size: $headline1;
        margin: 0;
        line-height: 4.2rem;
        margin-bottom: 1rem;
        color: $neutralDGrey;
        &--green{
            color: $colorPrimary;
            display: block;
        }
    }
    &__phara{
        font-size: clamp(16px, 2vw, 24px);
        color: $neutralGrey;
        margin-bottom: 2rem;
    }
}