#root{
    width: 100%;
}


.home{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 44px;
}

.body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    margin-bottom: 84px;
}