@use './variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  color: $neutralDGrey;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}



