// font sizes 
$headline1: clamp(64px, 3vw, 76px);
$headline2: clamp(36px, 2vw, 44px);
$regular3: clamp(14px, 3vw, 20px);

//neutral colors
$neutralDGrey: #4D4D4D;
$neutralGrey: #717171;
$neutralSilver: #F5F7FA;
$neutralWhite: #FFFFFF;

//primary
$colorPrimary: #4CAF4F;