// font sizes 
$headline1: clamp(64px, 3vw, 76px);
$headline2: clamp(32px, 3vw, 44px);
$headline3: clamp(28px, 3vw, 36px);
$regular3: clamp(14px, 2vw, 20px);
$regular2: clamp(16px, 3vw, 24px);

//neutral colors
$neutralDGrey: #4D4D4D;
$neutralGrey: #717171;
$neutralSilver: #F5F7FA;
$neutralWhite: #FFFFFF;

//primary
$colorPrimary: #4CAF4F;
